@import base.sass

+blueprint-typography
+reset-blueprint-typography

h1
  +header-text
  :font-size 2em
  :margin-bottom 0.75em
  
body.blueprint
  +blueprint-grid
  .container
    +container

body#index
  +has-menubar
  +has-titlebar
  .success
    :background #bbff91
    :padding .8em
    :margin-bottom 1em
  .error
    :background #ffd4d4
    :padding .8em
    :margin-bottom 1em
  #tickets
    +column(24, true)
  #ticket
    +column(24, true)
    .description
      :background #f5f5f5
    .comment
      :background #f5f5f5
      .header
        .name
          :font-weight bold
  table.tickets
    / for assigned tickets (the 'normal' table rows)
    +alternating-rows-and-columns(#bbff91,#ddffc8,#000)
    / alternating colors for unassigned tickets
    tr.unassigned.odd
      :background #f5f5f5
    tr.unassigned.even
      :background #ffffff
    tr.out-of-bounds.odd
      :background #ffd4d4
    tr.out-of-bounds.even
      :background #ffeeee
    th
      :border-bottom 1px solid #666
      :background #f5f5f5
    td,th
      :vertical-align top
      :padding-left 0.5em
      :padding-right 0.5em
  #new-ticket
    +column(18, true)
    +append(6)
    h3
      :clear both
      :margin-bottom 0.25em
    .new-ticket-fields
      +column(12)
      :margin-bottom 1em
      fieldset
        :padding 5px
        :background #ddffc8
        .field
          :margin-bottom 0.75em
    .new-ticket-help
      +column(6,true)
      .help
        :padding-left 5px
        :padding-right 5px
        :background #bbff91
    label
      :display block
    input[type='text']
      :width 450px
      :font-size 1.5em
    textarea
      :width 455px
      :height 200px
