!!! Strict
%html{:xmlns =>'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en'}

  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    %title= "IT Helpdesk - #{@title}"
    %link{:href => versioned_stylesheet('screen'),  :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}/
    %link{:href => versioned_stylesheet('print'),   :media => 'print',  :rel => 'stylesheet', :type => 'text/css'}/
    /[if IE]
      %link{:href => versioned_stylesheet('ie'),    :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}/
  
  %body
    #menubar
      .container
        %ul#app-suite-links
          %li.first
            %a{:href => 'http://www.amc.org.au/'} AMC
          %li
            %a{:href => 'http://news.amc.org.au/'} News
          %li
            %a{:href => 'http://phone-list.amc.org.au/'} Phones
          %li
            %a{:href => '/'} Helpdesk
            
    #titlebar
      .container
        #header
          %h1
            %a{:href => '/'} IT Helpdesk
          
    .container
      = yield