!!! Strict
%html{:xmlns =>'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en'}

  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    %title= "Helpdesk Tickets - #{@title}"
    %link{:href => versioned_stylesheet('screen'), :media => "screen", :rel => "stylesheet", :type => "text/css"}/

  %body
    #header
      %h1
        %a{:href => '/'} Helpdesk Tickets

    #wrapper
      #content
        %h1= @title
        = yield