#tickets
  %h3= h(@ticket.ticket_summary)

  %table
    %thead
      %tr
        %th No.
        %th Summary
        %th Reporter
        %th Assignee
        %th Created ↓
    %tbody
      %tr{:class => 'odd'}
        = partial('ticket_row', :locals => {:ticket => @ticket})
  
  %h4 Description
  
  %p.description
    = convert_breaks(h(@ticket.description))