body {
  background: #FFF url(../images/body-bg.png) repeat-x;
  color: #000000;
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  font-size: 14px; }

p {
  line-height: 17px; }

#header {
  height: 45px;
  padding: 0;
  margin: 0 0 30px;
  color: #ffffff;
  background: transparent;
  text-align: left; }
  #header h1 {
    margin: 0;
    padding: 15px 0 0 30px;
    float: left;
    font-size: 25px; }
  #header a {
    color: #ffffff; }
  #header .account {
    margin: 0;
    padding: 15px;
    float: right; }

#wrapper {
  width: 100%;
  float: left;
  padding: 0;
  text-align: left; }
  #wrapper a {
    color: #1c3b69; }
  #wrapper a:hover {
    background-color: #fefdd7; }
  #wrapper strong {
    background-color: #ffffd8; }
  #wrapper .warning {
    background-color: #feddde; }

#nav {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: bold; }
  #nav a {
    font-weight: normal;
    text-decoration: none;
    border-bottom: 1px dotted #1c3b69; }
  #nav ul {
    margin: 0;
    padding: 0; }
  #nav li {
    margin: 0 5px;
    padding: 0;
    display: inline;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none; }
  #nav .pipe {
    font-weight: normal;
    color: #dbdadb; }

#content_full {
  margin: 0 20px; }

#content {
  margin: 0 0 0 30px;
  margin-right: 310px;
  padding: 0; }
  #content h1 {
    margin: 15px 0;
    color: #1d3350;
    line-height: 32px;
    text-align: left;
    font-size: 29px; }
  #content h2 {
    margin: 10px 0;
    line-height: 26px;
    text-align: left;
    font-size: 20px; }
  #content h4 {
    margin: 10px 0 5px;
    line-height: 16px;
    text-align: left;
    font-size: 16px; }
  #content li {
    padding: 3px;
    margin: 0;
    list-style: square; }

#sidebar {
  float: right;
  margin: 20px 30px;
  margin-left: -290px;
  padding: 0;
  width: 250px; }
  #sidebar h3.expand_exam {
    text-align: center;
    background-color: #f0fefe;
    padding: 5px 10px;
    border-top: 1px solid #4FC6FE;
    border-bottom: 1px solid #4FC6FE;
    margin-bottom: 0; }
  #sidebar .expanded_session {
    padding: 5px 10px;
    background-color: #f5f5f5; }

#footer {
  clear: both;
  margin: 0;
  padding: 30px 0 20px; }
  #footer p {
    text-align: center; }

div.admin_activity, div.candidate_activity {
  margin: 10px 0;
  padding: 5px 15px; }

div.admin_activity {
  background: transparent url(/images/admin/admin-activity-bg.png) center top no-repeat; }

div.candidate_activity {
  background: transparent url(/images/admin/candidate-activity-bg.png) center top no-repeat; }

table.main_table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #dbdadb;
  background-color: #f5f5f5;
  margin: 0 0 20px;
  padding: 0; }
  table.main_table td, table.main_table th {
    padding: 5px 15px;
    text-align: left; }
  table.main_table td {
    border-top: 1px solid #dbdadb; }
  table.main_table .right {
    text-align: right; }
  table.main_table .center {
    text-align: center; }
  table.main_table .wide_column {
    width: 100%; }
  table.main_table .narrow_column {
    white-space: nowrap; }
  table.main_table .amount_column {
    padding-right: 5px; }
  table.main_table .icon_column {
    padding-left: 0;
    padding-right: 0; }
  table.main_table .checkbox_column {
    padding-left: 10px;
    padding-right: 10px; }
  table.main_table tr.odd {
    background-color: #ffffff; }
  table.main_table tr.selected {
    background-color: #fefcac; }

.flash {
  margin: 15px 0;
  font-weight: bold; }

.hidden_div {
  display: none; }

.center {
  text-align: center; }

#notice {
  color: #008000; }

#error {
  color: #cc0000; }

#warning {
  color: #ff6600; }

.exam_session {
  padding: 12px 12px 0;
  margin: 10px;
  background-color: #FEFCAC;
  float: left;
  text-align: center;
  border: 1px solid #EEB675;
  width: 150px; }

.buttons {
  clear: both;
  padding-top: 10px; }

.field_with_errors {
  padding: 2px;
  background-color: #ff0000;
  display: table; }

#login {
  float: right;
  padding: 6px 12px;
  margin-top: 50px;
  background-color: #FEFCAC;
  border: 1px solid #EEB675;
  width: 250px; }
  #login input {
    font-size: 18px; }
  #login .button {
    text-align: center; }
    #login .button input {
      font-size: 14px; }

#error_explanation {
  width: 100%;
  border: 1px solid #cc0000;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 14px;
    margin: -7px;
    background-color: #cc0000;
    color: #ffffff; }
  #error_explanation p {
    color: #333333;
    margin-bottom: 0;
    padding: 5px; }
  #error_explanation li {
    font-size: 14px;
    list-style: square; }

.credit {
  color: #ff0000; }

.yellow_box {
  background-color: #fefcac;
  border: 1px solid #eeb675;
  padding: 15px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 19px; }
  .yellow_box .small {
    font-weight: normal;
    font-size: 12px; }

.search_options .small {
  font-size: 12px;
  margin-top: -18px; }
