
html, body { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, code, del, dfn, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

body { line-height: 1.5; }

blockquote, q { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; quotes: "" ""; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }

th, td, caption { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; text-align: left; font-weight: normal; vertical-align: middle; }

table { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; border-collapse: separate; border-spacing: 0; vertical-align: middle; }

a img { border: none; }





























h1 { font-weight: normal; color: #222222; }

body { font-family: Helvetica Neue, Helvetica, Arial, sans-serif; color: #333333; font-size: 75%; }

h1 { font-weight: normal; color: #222222; font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h1 img { margin: 0; }

h2 { font-weight: normal; color: #222222; font-size: 2em; margin-bottom: 0.75em; }

h3 { font-weight: normal; color: #222222; font-size: 1.5em; line-height: 1; margin-bottom: 1em; }

h4 { font-weight: normal; color: #222222; font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; height: 1.25em; }

h5 { font-weight: normal; color: #222222; font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }

h6 { font-weight: normal; color: #222222; font-size: 1em; font-weight: bold; }

h2 img, h3 img, h4 img, h5 img, h6 img { margin: 0; }

p { margin: 0 0 1.5em; }
p img { float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.right { float: right; margin: 1.5em 0 1.5em 1.5em; }

a { text-decoration: underline; color: #000099; }
a:visited { color: #000066; }
a:focus { color: black; }
a:hover { color: black; }
a:active { color: #cc0099; }

blockquote { margin: 1.5em; color: #666; font-style: italic; }

strong { font-weight: bold; }

em { font-style: italic; }

dfn { font-style: italic; font-weight: bold; }

sup, sub { line-height: 0; }

abbr, acronym { border-bottom: 1px dotted #666; }

address { margin: 0 0 1.5em; font-style: italic; }

del { color: #666; }

pre, code { margin: 1.5em 0; white-space: pre; font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }

tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }

li ul, li ol { margin: 0 1.5em; }

ul { margin: 0 1.5em 1.5em 1.5em; list-style-type: disc; }

ol { margin: 0 1.5em 1.5em 1.5em; list-style-type: decimal; }

dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }

dd { margin-left: 1.5em; }

table { margin-bottom: 1.4em; width: 100%; }

th { font-weight: bold; background: #C3D9FF; padding: 4px 10px 4px 5px; }

td { padding: 4px 10px 4px 5px; }

tr.even td { background: #E5ECF9; }

tfoot { font-style: italic; }

caption { background: #eee; }

.quiet { color: #666666; }

.loud { color: #111111; }

body { font-size: 85%; }
body th { background: inherit; }
body tr.even td { background: inherit; }

h1 { font-weight: normal; color: #222222; font-size: 2em; margin-bottom: 0.75em; }

body.blueprint .container { width: 950px; margin: 0 auto; overflow: auto; overflow: -moz-scrollbars-none; display: inline-block; }
body.blueprint .container { display: block; }
body.blueprint .span-1 { width: 30px; }
body.blueprint div.span-1 { float: left; width: 30px; margin-right: 10px; }
body.blueprint .span-2 { width: 70px; }
body.blueprint div.span-2 { float: left; width: 70px; margin-right: 10px; }
body.blueprint .span-3 { width: 110px; }
body.blueprint div.span-3 { float: left; width: 110px; margin-right: 10px; }
body.blueprint .span-4 { width: 150px; }
body.blueprint div.span-4 { float: left; width: 150px; margin-right: 10px; }
body.blueprint .span-5 { width: 190px; }
body.blueprint div.span-5 { float: left; width: 190px; margin-right: 10px; }
body.blueprint .span-6 { width: 230px; }
body.blueprint div.span-6 { float: left; width: 230px; margin-right: 10px; }
body.blueprint .span-7 { width: 270px; }
body.blueprint div.span-7 { float: left; width: 270px; margin-right: 10px; }
body.blueprint .span-8 { width: 310px; }
body.blueprint div.span-8 { float: left; width: 310px; margin-right: 10px; }
body.blueprint .span-9 { width: 350px; }
body.blueprint div.span-9 { float: left; width: 350px; margin-right: 10px; }
body.blueprint .span-10 { width: 390px; }
body.blueprint div.span-10 { float: left; width: 390px; margin-right: 10px; }
body.blueprint .span-11 { width: 430px; }
body.blueprint div.span-11 { float: left; width: 430px; margin-right: 10px; }
body.blueprint .span-12 { width: 470px; }
body.blueprint div.span-12 { float: left; width: 470px; margin-right: 10px; }
body.blueprint .span-13 { width: 510px; }
body.blueprint div.span-13 { float: left; width: 510px; margin-right: 10px; }
body.blueprint .span-14 { width: 550px; }
body.blueprint div.span-14 { float: left; width: 550px; margin-right: 10px; }
body.blueprint .span-15 { width: 590px; }
body.blueprint div.span-15 { float: left; width: 590px; margin-right: 10px; }
body.blueprint .span-16 { width: 630px; }
body.blueprint div.span-16 { float: left; width: 630px; margin-right: 10px; }
body.blueprint .span-17 { width: 670px; }
body.blueprint div.span-17 { float: left; width: 670px; margin-right: 10px; }
body.blueprint .span-18 { width: 710px; }
body.blueprint div.span-18 { float: left; width: 710px; margin-right: 10px; }
body.blueprint .span-19 { width: 750px; }
body.blueprint div.span-19 { float: left; width: 750px; margin-right: 10px; }
body.blueprint .span-20 { width: 790px; }
body.blueprint div.span-20 { float: left; width: 790px; margin-right: 10px; }
body.blueprint .span-21 { width: 830px; }
body.blueprint div.span-21 { float: left; width: 830px; margin-right: 10px; }
body.blueprint .span-22 { width: 870px; }
body.blueprint div.span-22 { float: left; width: 870px; margin-right: 10px; }
body.blueprint .span-23 { width: 910px; }
body.blueprint div.span-23 { float: left; width: 910px; margin-right: 10px; }
body.blueprint .span-24 { width: 950px; }
body.blueprint div.span-24 { float: left; width: 950px; margin-right: 0; }
body.blueprint div.last { margin-right: 0; }
body.blueprint .append-1 { padding-right: 40px; }
body.blueprint .append-2 { padding-right: 80px; }
body.blueprint .append-3 { padding-right: 120px; }
body.blueprint .append-4 { padding-right: 160px; }
body.blueprint .append-5 { padding-right: 200px; }
body.blueprint .append-6 { padding-right: 240px; }
body.blueprint .append-7 { padding-right: 280px; }
body.blueprint .append-8 { padding-right: 320px; }
body.blueprint .append-9 { padding-right: 360px; }
body.blueprint .append-10 { padding-right: 400px; }
body.blueprint .append-11 { padding-right: 440px; }
body.blueprint .append-12 { padding-right: 480px; }
body.blueprint .append-13 { padding-right: 520px; }
body.blueprint .append-14 { padding-right: 560px; }
body.blueprint .append-15 { padding-right: 600px; }
body.blueprint .append-16 { padding-right: 640px; }
body.blueprint .append-17 { padding-right: 680px; }
body.blueprint .append-18 { padding-right: 720px; }
body.blueprint .append-19 { padding-right: 760px; }
body.blueprint .append-20 { padding-right: 800px; }
body.blueprint .append-21 { padding-right: 840px; }
body.blueprint .append-22 { padding-right: 880px; }
body.blueprint .append-23 { padding-right: 920px; }
body.blueprint .prepend-1 { padding-left: 40px; }
body.blueprint .prepend-2 { padding-left: 80px; }
body.blueprint .prepend-3 { padding-left: 120px; }
body.blueprint .prepend-4 { padding-left: 160px; }
body.blueprint .prepend-5 { padding-left: 200px; }
body.blueprint .prepend-6 { padding-left: 240px; }
body.blueprint .prepend-7 { padding-left: 280px; }
body.blueprint .prepend-8 { padding-left: 320px; }
body.blueprint .prepend-9 { padding-left: 360px; }
body.blueprint .prepend-10 { padding-left: 400px; }
body.blueprint .prepend-11 { padding-left: 440px; }
body.blueprint .prepend-12 { padding-left: 480px; }
body.blueprint .prepend-13 { padding-left: 520px; }
body.blueprint .prepend-14 { padding-left: 560px; }
body.blueprint .prepend-15 { padding-left: 600px; }
body.blueprint .prepend-16 { padding-left: 640px; }
body.blueprint .prepend-17 { padding-left: 680px; }
body.blueprint .prepend-18 { padding-left: 720px; }
body.blueprint .prepend-19 { padding-left: 760px; }
body.blueprint .prepend-20 { padding-left: 800px; }
body.blueprint .prepend-21 { padding-left: 840px; }
body.blueprint .prepend-22 { padding-left: 880px; }
body.blueprint .prepend-23 { padding-left: 920px; }
body.blueprint .pull-1 { float: left; position: relative; margin-left: -40px; }
body.blueprint .pull-2 { float: left; position: relative; margin-left: -80px; }
body.blueprint .pull-3 { float: left; position: relative; margin-left: -120px; }
body.blueprint .pull-4 { float: left; position: relative; margin-left: -160px; }
body.blueprint .pull-5 { float: left; position: relative; margin-left: -200px; }
body.blueprint .pull-6 { float: left; position: relative; margin-left: -240px; }
body.blueprint .pull-7 { float: left; position: relative; margin-left: -280px; }
body.blueprint .pull-8 { float: left; position: relative; margin-left: -320px; }
body.blueprint .pull-9 { float: left; position: relative; margin-left: -360px; }
body.blueprint .pull-10 { float: left; position: relative; margin-left: -400px; }
body.blueprint .pull-11 { float: left; position: relative; margin-left: -440px; }
body.blueprint .pull-12 { float: left; position: relative; margin-left: -480px; }
body.blueprint .pull-13 { float: left; position: relative; margin-left: -520px; }
body.blueprint .pull-14 { float: left; position: relative; margin-left: -560px; }
body.blueprint .pull-15 { float: left; position: relative; margin-left: -600px; }
body.blueprint .pull-16 { float: left; position: relative; margin-left: -640px; }
body.blueprint .pull-17 { float: left; position: relative; margin-left: -680px; }
body.blueprint .pull-18 { float: left; position: relative; margin-left: -720px; }
body.blueprint .pull-19 { float: left; position: relative; margin-left: -760px; }
body.blueprint .pull-20 { float: left; position: relative; margin-left: -800px; }
body.blueprint .pull-21 { float: left; position: relative; margin-left: -840px; }
body.blueprint .pull-22 { float: left; position: relative; margin-left: -880px; }
body.blueprint .pull-23 { float: left; position: relative; margin-left: -920px; }
body.blueprint .pull-24 { float: left; position: relative; margin-left: -960px; }
body.blueprint .push-1 { float: right; position: relative; margin-top: 0; margin-right: -40px; margin-bottom: 1.5em; margin-left: 40px; }
body.blueprint .push-2 { float: right; position: relative; margin-top: 0; margin-right: -80px; margin-bottom: 1.5em; margin-left: 80px; }
body.blueprint .push-3 { float: right; position: relative; margin-top: 0; margin-right: -120px; margin-bottom: 1.5em; margin-left: 120px; }
body.blueprint .push-4 { float: right; position: relative; margin-top: 0; margin-right: -160px; margin-bottom: 1.5em; margin-left: 160px; }
body.blueprint .push-5 { float: right; position: relative; margin-top: 0; margin-right: -200px; margin-bottom: 1.5em; margin-left: 200px; }
body.blueprint .push-6 { float: right; position: relative; margin-top: 0; margin-right: -240px; margin-bottom: 1.5em; margin-left: 240px; }
body.blueprint .push-7 { float: right; position: relative; margin-top: 0; margin-right: -280px; margin-bottom: 1.5em; margin-left: 280px; }
body.blueprint .push-8 { float: right; position: relative; margin-top: 0; margin-right: -320px; margin-bottom: 1.5em; margin-left: 320px; }
body.blueprint .push-9 { float: right; position: relative; margin-top: 0; margin-right: -360px; margin-bottom: 1.5em; margin-left: 360px; }
body.blueprint .push-10 { float: right; position: relative; margin-top: 0; margin-right: -400px; margin-bottom: 1.5em; margin-left: 400px; }
body.blueprint .push-11 { float: right; position: relative; margin-top: 0; margin-right: -440px; margin-bottom: 1.5em; margin-left: 440px; }
body.blueprint .push-12 { float: right; position: relative; margin-top: 0; margin-right: -480px; margin-bottom: 1.5em; margin-left: 480px; }
body.blueprint .push-13 { float: right; position: relative; margin-top: 0; margin-right: -520px; margin-bottom: 1.5em; margin-left: 520px; }
body.blueprint .push-14 { float: right; position: relative; margin-top: 0; margin-right: -560px; margin-bottom: 1.5em; margin-left: 560px; }
body.blueprint .push-15 { float: right; position: relative; margin-top: 0; margin-right: -600px; margin-bottom: 1.5em; margin-left: 600px; }
body.blueprint .push-16 { float: right; position: relative; margin-top: 0; margin-right: -640px; margin-bottom: 1.5em; margin-left: 640px; }
body.blueprint .push-17 { float: right; position: relative; margin-top: 0; margin-right: -680px; margin-bottom: 1.5em; margin-left: 680px; }
body.blueprint .push-18 { float: right; position: relative; margin-top: 0; margin-right: -720px; margin-bottom: 1.5em; margin-left: 720px; }
body.blueprint .push-19 { float: right; position: relative; margin-top: 0; margin-right: -760px; margin-bottom: 1.5em; margin-left: 760px; }
body.blueprint .push-20 { float: right; position: relative; margin-top: 0; margin-right: -800px; margin-bottom: 1.5em; margin-left: 800px; }
body.blueprint .push-21 { float: right; position: relative; margin-top: 0; margin-right: -840px; margin-bottom: 1.5em; margin-left: 840px; }
body.blueprint .push-22 { float: right; position: relative; margin-top: 0; margin-right: -880px; margin-bottom: 1.5em; margin-left: 880px; }
body.blueprint .push-23 { float: right; position: relative; margin-top: 0; margin-right: -920px; margin-bottom: 1.5em; margin-left: 920px; }
body.blueprint .push-24 { float: right; position: relative; margin-top: 0; margin-right: -960px; margin-bottom: 1.5em; margin-left: 960px; }
body.blueprint .showgrid { background: url(../images/grid.png); }
body.blueprint .container { width: 950px; margin: 0 auto; overflow: auto; overflow: -moz-scrollbars-none; display: inline-block; }
body.blueprint .container { display: block; }

body#index #menubar { width: 100%; background-color: #2b2b2b; border-bottom: 1px solid #eee; color: #fff; }
body#index #menubar a { color: #fff; text-decoration: none; }
body#index #menubar #app-suite-links { float: left; margin: 0; padding: 0; border: 0; overflow: auto; overflow: -moz-scrollbars-none; display: inline-block; }
body#index #menubar #app-suite-links { display: block; }
body#index #menubar #app-suite-links li { list-style-type: none; margin-left: 0px; white-space: nowrap; float: left; padding-left: 4px; padding-right: 4px; }
body#index #menubar #app-suite-links li.first { padding-left: 0px; }
body#index #menubar #app-suite-links li.last { padding-right: 0px; }
body#index #menubar #site-actions { float: right; margin: 0; padding: 0; border: 0; overflow: auto; overflow: -moz-scrollbars-none; display: inline-block; }
body#index #menubar #site-actions { display: block; }
body#index #menubar #site-actions li { list-style-type: none; margin-left: 0px; white-space: nowrap; float: left; padding-left: 4px; padding-right: 4px; }
body#index #menubar #site-actions li.first { padding-left: 0px; }
body#index #menubar #site-actions li.last { padding-right: 0px; }
body#index #titlebar { width: 100%; min-height: 3em; margin-bottom: 1.5em; background: #279914 url(../images/body-bg.png) repeat-x; }
body#index #titlebar #header { float: left; width: 950px; margin-right: 10px; padding-top: 1em; }
body#index #titlebar #header h1 { font-size: 2em; font-weight: bold; margin-bottom: 0.75em; color: #fff; float: left; width: 950px; margin-right: 10px; }
body#index #tickets { float: left; width: 750px; margin-right: 10px; }
body#index #tickets table td, body#index #tickets table th { padding: 2px; }
body#index #tickets table td.numeric, body#index #tickets table th.numeric { text-align: right; }
body#index #tickets table tbody th { text-align: center; }
body#index #tickets table thead { font-size: .9em; }
body#index #tickets table thead th.even { background-color: white; }
body#index #tickets table tfoot { font-size: .9em; }
body#index #tickets table tfoot td.even { background-color: white; }
body#index #tickets table tr.odd { background-color: white; }
body#index #tickets table tr.odd td.even { background-color: white; }
body#index #tickets table tr.even { background-color: #f5f5f5; }
body#index #tickets table tr.even td.even { background-color: #f5f5f5; }
body#index #tickets table th { border-bottom: 1px solid #666; background: #f5f5f5; }
body#index #tickets table td, body#index #tickets table th { vertical-align: top; padding-left: 0.5em; padding-right: 0.5em; }
body#index #sidebar { float: left; width: 190px; margin-right: 0; }
body#index #sidebar #ticket-age { font-size: 3em; line-height: 1; margin-bottom: 0.5em; font-weight: bold; color: red; }
