- title 'Tickets'  

%table.main_table{:cellpadding => 0, :cellspacing => 0}
  %tr
    %th No.
    %th Summary
    
  - if @tickets.empty?
  
    %tr
      %td{:colspan => 3} No tickets
  
  - else

    - for ticket in @tickets
  
      %tr{:class => cycle('odd', 'even')}
        %td= link_to("##{h(ticket.number)}", ticket_path(ticket))
        %td= h(ticket.summary)